* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    
}
*::selection {
    color: #fff;
    background-color: black;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
    overflow: hidden;
}

#nav{
    padding: 25px;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

#nav-part1{
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg {
    display: block;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links {
    padding: 10px;
}

#nav-part2 #links a{
    font-family: futura;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 10;
    font-size: 14px;
    margin: 0 20px;
}

#icons {
    padding: 10px;
    border-radius: 50px;
    background-color: #f7f7f7;
}

#nav-part2 #icons i {
    font-size: 18px;
    margin:  20px;
    padding-right: 10px;
    font-weight: 100;
}

#cursor {
    height: 180px;
    width: 180px;
    background-color:bisque;
    border-radius: 50%;
    position: fixed;
    opacity: 0.5;
    transform: translate(-50%,-50%) scale(0);
}

#page1 {
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 20vh; 
}

#page1 h1 {
    font-size: 15.8vw;
    font-family: futura;
    text-transform: uppercase;
    line-height: 14vw;
    letter-spacing: -8px;
}

#video-container {
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

#break1 {
    font-size: 12px;
    font-weight: 100;
    margin: auto;
    font-family: futura;
    justify-content: space-between;
    width: 98%;
    margin-top: 50px;
    border-top: 2px solid black;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}

#page2 .elem{
    height: 100%;
    width: 32.5%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

#page2 .elem .dets{
    height: 60px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 2;
    text-align: center;
    font-size: 13px;
    font-weight: 100;
    line-height: 60px;
    font-family: futura;

}
#det1 {
    background-color: #E5F0D6;
}
#det2 {
    background-color: #F5DFCF;
}
#det3 {
    background-color: #FFFFFF;
}

#page3 {
    min-height: 120vh;
    width: 100%;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.child {
    height: 54vh;
    width: 38vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child img {
    height: 100%;
}



@media (max-width:600px) {

    #nav{
        padding: 15px;
        width: 100%;
        position: fixed;
        z-index: 10;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 25px;
    }
    
    #nav-part1{
        /* background-color: red; */
        height: 82px;
        overflow: hidden;
    }
    
    #nav-part1 svg {
        display: block;
    }
    
    #nav #nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
    #links {
        padding: 10px;
        display: none;
    }
    
    #nav-part2 #links a{
        text-transform: uppercase;
        text-decoration: none;
        color: #333;
        font-weight: 500;
        font-size: 14px;
        margin: 0 20px;
    }
    
    #icons {
        padding: 10px;
        border-radius: 50px;
        background-color: #f7f7f7;
    }
    
    #nav-part2 #icons i {
        font-size: 18px;
        margin:  20px;
        padding-right: 10px;
        font-weight: 100;
    }

    #page1 {
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 20vh;
    }
    #page1 h1 {
        font-size: 15.5vw;
        letter-spacing: -3px;
    }
    #video-container {
        height: 25vh;
        margin-top: 3vw;
    }
    #video-container #play {
        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,-50%);
    }
    #page2 {
        padding: 5vw 3.5vw;
        justify-content: space-between;
        flex-direction: column;
    }
    
    #page2 .elem{
        height: 100vh;
        width: 100%;
        overflow: hidden;
        margin-bottom: 3vw;
    }
    #page2 .elem .dets{
        height: 40px;
    }

    #page3 {
        min-height: 120vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .child {
        height: 54vh;
        width: 88vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15vw;
    }
    .child img {
        height: 100%;
    }
    
}